name: Build, Scan & Push to Public ECR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: sample

    strategy:
      matrix:
        service: [ "appointment-svc", "patient-svc" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1   # Public ECR login uses us-east-1

      - name: Login to Amazon Public ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/h3d5d4q6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push Docker image to Public ECR
        run: |
          SERVICE="${{ matrix.service }}"
          IMAGE_NAME="public.ecr.aws/h3d5d4q6/hackathon/repo:${SERVICE}-latest"

          echo "Building Docker image for $SERVICE"
          cd src/$SERVICE

          # Build the image
          docker build -t $IMAGE_NAME .

          # Push to Public ECR
          echo "Pushing image: $IMAGE_NAME"
          docker push $IMAGE_NAME

          echo "Successfully pushed $IMAGE_NAME to Public ECR"
